/* Import fonts from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Rubik:ital,wght@0,300..900;1,300..900&family=Yantramanav:wght@100;300;400;500;700;900&display=swap');

:root {
    --primary-font: "Yantramanav", sans-serif;
    --seconday-font: "Rubik", sans-serif;
    --accent-font: "Lora", serif;

    --dark-color: #2E2A26;
    --light-color: #FDF7F2;
    --midtone-color: #BEB6AE;
    --highlight-color: #BC5E55;
    --light-highlight-color: #E3A48F;
}

/* General styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--primary-font);
    background-color: var(--light-color);
}

h1,
h2,
h3 {
    font-family: var(--seconday-font);
}

.cta {
    background-color: var(--highlight-color);
}

/* Navbar styling */
.navbar {
    background-color: var(--midtone-color);
}

.navbar-toggler {
    background-color: var(--highlight-color);
}

.navbar .nav-link {
    color: var(--dark-color);
    text-transform: uppercase;
    letter-spacing: 1px;
}

.navbar .nav-link:hover {
    color: var(--highlight-color);
    letter-spacing: 5px;
    font-weight: 600;
    text-decoration: underline;
}

.navbar .active {
    font-weight: 600;
}